body {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  margin: auto;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.member {
  /* background-color:  #f2f2f2; */
  border-radius: 40px;
  margin: 10px;
  width: 25%;
}

.member .name {
  font-size: 25px;
  font-weight: bold;
}

.member img {
  width: 60%;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
  overflow: hidden;
}

.product {
  width: 100%;
  display: flex;
}

.image {
  width: 30%;
  height: auto;
  margin: auto;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.description {
  width: 70%;
}

.description p {
  padding: 20px 20px 20px 40px;
}

/*
 * Mobile css
*/
@media only screen and (max-width: 700px) {
  body {
    width: 90%;
    margin: auto;
  }

  .member {
    margin-top: 10px;
    margin: auto;
    width: 90%;
  }

  .member img {
    border-radius: 40px;
  }

  .product {
    display: block;
  }
  .image {
    width: 100%;
  }

  .description {
    width: 100%;
  }

  .viewProduct {
    width: 80%;
  }
}
