/* 
 * This file contains css code to be shared across all pages
*/
body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black !important;
    color: #ffff;
}

.footer {
    background-color: #72DB92;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

.goDark {
    color: black;
    background-color: white;
    border: none;
    font-size: 1.3em;
    padding:7px 20px 5px 20px;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    body {}

}

* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;

    background-image: url('https://www.google.com/search?q=grey+metallic+background&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi_odmvr8f6AhWmFVkFHSsMAvgQ_AUoAXoECAEQAw&biw=1920&bih=961&dpr=1#imgrc=sukoHxc0qOYkJM');
    background-color: #cccccc;
    color: white;
}


/* Style the top navigation bar */
#navbar{
    margin:0;
    padding: 10px !important;
}
.navbar {
    width: 100% !important;
    overflow: hidden;
    background-color: #52d890 !important;
    color: #ffff !important;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: #ffff !important;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}


.footer {
    padding: 20px;
    text-align: center;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

/*Setting padding */
.padding-div {
    width:100%;
    padding-top:20px;
    padding-left:25px;
}
